* {
  --img-size: 256px;
}

.list-align {
  width: 100%;
  padding: 0 auto;
}

.list-container {
  padding: 5px;
  border: 2px solid gray;
  border-radius: 5px;

  min-height: var(--img-size);
  background-color: var(--background-minor);

  display: grid;
  grid-template-columns: repeat(auto-fill, var(--img-size));
  grid-gap: 10px;
  justify-content: center;
}

img {
  height: var(--img-size);
  width: var(--img-size);
  overflow: hidden;
  border-radius: 10px;
}

