<div class="builder">
    <div style="display: flex; gap: 12px;">
        <mat-form-field style="flex: 1;">
            <mat-label>Main Subject</mat-label>
            <input [(ngModel)]="subject" (input)="subject=subject.trim(); updatePrompt();" matInput placeholder="yellow lemon tree">

            <div class="marker marker-input" style="background-color: var(--subject);"></div>
        </mat-form-field>



        <div style="flex: 1; display: inline-flex; overflow: hidden;">
            <mat-form-field style="flex: 1;">
                <mat-label>Type of Picture</mat-label>
                <input [(ngModel)]="typeOfPicture" (input)="typeOfPicture=typeOfPicture.trim(); updatePrompt();" matInput placeholder="polaroid picture">

                <div class="marker marker-input" style="background-color: var(--picture);"></div>
            </mat-form-field>

            <mat-icon class="input-icon icon-interactive">list</mat-icon>
        </div>

    </div>

    <div style="display: flex; gap: 12px;">
        <mat-form-field style="flex: 1;">
            <mat-label matTooltip="The Name of the resulting Image-File, optional" matTooltipShowDelay="500">Name</mat-label>
            <input [(ngModel)]="name" (input)="onNameChange()" matInput placeholder="Lemon Tree">
        </mat-form-field>




        <div style="flex: 1; display: inline-flex; overflow: hidden;">
            <mat-form-field style="flex: 1;">
                <mat-label>Style</mat-label>
                <input [(ngModel)]="style" (input)="style=style.trim(); updatePrompt();" matInput placeholder="4k UHD">

                <div class="marker marker-input" style="background-color: var(--style);"></div>
            </mat-form-field>

            <mat-icon class="input-icon icon-interactive">list</mat-icon>
        </div>

    </div>

    <div style="display: flex; gap: 12px;">
        <div style="flex: 1;"></div>

        <div style="flex: 1; display: inline-flex; overflow: hidden;">
            <mat-form-field style="flex: 1;">
                <mat-label>Artist</mat-label>
                <input [(ngModel)]="artist" (input)="artist=artist.trim(); updatePrompt();" matInput placeholder="Bob Ross">

                <div class="marker marker-input" style="background-color: var(--artist);"></div>
            </mat-form-field>

            <mat-icon class="input-icon icon-interactive">list</mat-icon>
        </div>

    </div>

    <div style="flex: 1; display: flex; flex-direction: column;">
      <div style="display: flex; align-items: center;">
          <label for="prompt_out">Complete Prompt</label>

          <div style="flex: 1;"></div>

          <div style="display: flex; gap: 12px; margin-bottom: 5px;">
              <p>Use Template?</p>
              <section class="example-section">
                  <mat-slide-toggle
                      class="example-margin"
                      color="primary"
                      [(ngModel)]="useTemplate"
                      (change)="updatePrompt()">
                  </mat-slide-toggle>
              </section>
          </div>
      </div>

      <div style="display: flex">

        <mat-form-field class="output">
          <input [(ngModel)]="prompt" type="text" (input)="updatePrompt(); markerUpdate()" #prompt_out matInput placeholder="Complete Prompt">

          <!-- Background text marker -->
          <div class="highlight-container">
            <div class="marker unselectable" style="background-color: var(--picture);" #marker_picture></div>
            <div class="marker unselectable" style="background-color: var(--subject);" #marker_subject></div>
            <div class="marker unselectable" style="background-color: var(--style);" #marker_style></div>
            <div class="marker unselectable" style="background-color: var(--artist);" #marker_artist></div>
          </div>
        </mat-form-field>

        <img src="assets/copy.svg" class="icon icon-interactive" matTooltip="Copy Prompt" matTooltipShowDelay="500" [cdkCopyToClipboard]="prompt" style="margin-left: 6px; margin-top: 4px;">
    </div>

    <button (click)="markerUpdate();">Click me</button>
  </div>
</div>
