.builder {
    min-width: 500px;
    max-width: 1500px;
    width: 100%;
}

.highlight-container {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 20%;
  display: flex;
  flex-direction: row;
  z-index: -1;
}

.marker {
  --subject: rgb(255, 72, 0);
  --artist: rgb(27, 198, 135);
  --picture: rgb(255, 187, 0);
  --style: rgb(47, 255, 224);

  opacity: 0.2;
  height: 100%;
  width: fit-content;
  color: rgba(0, 0, 0, 0);
  z-index: -2;

}

.marker-input {
  border-radius: 5px;
  height: 100%;
  width: 64px;
  z-index: -1;
  position: absolute;
  right: -16px;
  bottom: 0;
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
